@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply text-label-m font-medium min-w-16 tracking-wide uppercase outline-none text-on-primary-he relative transition-all border h-max inline-flex items-center justify-center w-max;
	}

	.btn.btn-sm {
		@apply text-label-s py-1 px-2 rounded;
	}

	.btn.btn-md {
		@apply py-1.5 px-3 rounded-md;
	}

	.btn.btn-lg {
		@apply text-label-l py-2 px-4 rounded-lg;
	}

	.btn.btn-pill {
		@apply rounded-full;
	}

	.btn-primary {
		@apply bg-primary-500 focus:outline-1 focus:outline-primary-500 border-primary-500 hover:bg-primary-400 hover:border-primary-400 focus:bg-primary-600 focus:border-primary-600;
	}

	.btn-primary.btn-text {
		@apply bg-transparent border-transparent text-primary-500 hover:bg-primary-500/5 focus:bg-primary-600/10;
	}

	.btn-primary.btn-outlined {
		@apply bg-transparent text-primary-500 hover:bg-primary-500/5 hover:border-primary-500 focus:bg-primary-600/10 focus:border-primary-500;
	}

	.btn-accent {
		@apply bg-accent-500 focus:outline-1 focus:outline-accent-500 border-accent-500 hover:bg-accent-400 hover:border-accent-400 focus:bg-accent-600 focus:border-accent-600;
	}

	.btn-accent.btn-text {
		@apply bg-transparent border-transparent text-accent-500 hover:bg-accent-500/5 focus:bg-accent-600/10;
	}

	.btn-accent.btn-outlined {
		@apply bg-transparent text-accent-500 hover:bg-accent-500/5 hover:border-accent-500 focus:bg-accent-600/10 focus:border-accent-500;
	}

	.btn-success {
		@apply bg-success-500 focus:outline-1 focus:outline-success-500 border-success-500 hover:bg-success-400 hover:border-success-400 focus:bg-success-600 focus:border-success-600;
	}

	.btn-success.btn-text {
		@apply bg-transparent border-transparent text-success-500 hover:bg-success-500/5 focus:bg-success-600/10;
	}

	.btn-success.btn-outlined {
		@apply bg-transparent text-success-500 hover:bg-success-500/5 hover:border-success-500 focus:bg-success-600/10 focus:border-success-500;
	}

	.btn-error {
		@apply bg-error-500 focus:outline-1 focus:outline-error-500 border-error-500 hover:bg-error-400 hover:border-error-400 focus:bg-error-600 focus:border-error-600;
	}

	.btn-error.btn-text {
		@apply bg-transparent border-transparent text-error-500 hover:bg-error-500/5 focus:bg-error-600/10;
	}

	.btn-error.btn-outlined {
		@apply bg-transparent text-error-500 hover:bg-error-500/5 hover:border-error-500 focus:bg-error-600/10 focus:border-error-500;
	}
}

@layer utilities {
	.border-spacing-0 {
		border-spacing: 0;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@media screen and (min-width: 640px) {
	/* width */
	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		/* border-radius: 100vh; */
		background: #edf2f7;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #cbd5e0;
		border-radius: 100vh;
		border: 2px solid #edf2f7;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #a0aec0;
	}
}
